button.btn-primary
{
    display: block;
    margin: 0 auto;
    background-color: #e67300;
    font-size: large;
    text-shadow: 1px 1px #000000;
}
#my-form
{
    display: block;
    margin: 0 auto;
    border-width: 2px;
    border-color: blue;
}
#createHeader
{
    display: block;
    margin: 0 auto;
}
h1
{
    font-size: 48px;
    color: #e67300;
    text-shadow: black;
    text-align: center;
}
#editForm
{
    display: block;
    margin: 0 auto;
}
#tableHeader
{
    margin-top: 10px;
    color: #000099; 
    
}
.table.table
{
    background-color: #4db8ff;
}
#movieTable
{
    background-color: #ffbf80;
}
body
{
    background-color: #424950;
}