#runButton
{
    display: block;
    margin: 0 auto;
    background-color: #e67300;
    color:white;
    font-size: large;
    text-shadow: 1px 1px #000000;
}
#my-form
{
    display: block;
    margin: 0 auto;
    border-width: 2px;
    border-color: blue;
}
#createHeader
{
    display: block;
    margin: 0 auto;
    color: #e67300;
}
h1
{
    font-size: 48px;
    color: #e67300;
    text-shadow: black;
    text-align: center;
}
#editForm
{
    display: block;
    margin: 0 auto;
}
#tableHeader
{
    margin-top: 10px;
    color: #000099; 
    
}
.table.table
{
    background-color: #424950;
    color: #e67300;
}
#movieTable
{
    color: #e67300;
    background-color: #424950;
}
body
{
    background-color: #424950;
}
#submitButton
{
    background-color: #e67300;
    color: white;

}
#submitEdits
{
    color: white;
    background-color: #e67300;
    margin: 8px;
}
#editButton
{
    color: white;
    background-color: #e67300;
}
#editGenre
{
    margin: 8px;
}
#editDirector
{
    margin: 8px;
}
#editTitle
{
    margin: 8px;
}
